/* purgecss start ignore */
.form-label {
  @apply .mb-2 .block .text-gray-800 .font-semibold .text-sm .select-none;
}

.form-input,
.form-textarea,
.form-select {
  @apply .p-2 .leading-normal .block .w-full .border .text-gray-800 .bg-white .font-lato .rounded .text-left .appearance-none .relative;

  &:focus,
  &.focus {
    @apply .border-blue-500;
    box-shadow: 0 0 0 1px config('theme.colors.blue-500');
  }

  &::placeholder {
    @apply .text-gray-600 .opacity-75;
  }
}

.form-checkbox {
  @apply border border-blue-300 !important;
}

.form-select {
  @apply .pr-6;

  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAQCAYAAAAMJL+VAAAABGdBTUEAALGPC/xhBQAAAQtJREFUOBG1lEEOgjAQRalbGj2OG9caOACn4ALGtfEuHACiazceR1PWOH/CNA3aMiTaBDpt/7zPdBKy7M/DCL9pGkvxxVp7KsvyJftL5rZt1865M+Ucq6pyyF3hNcI7Cuu+728QYn/JQA5yKaempxuZmQngOwEaYx55nu+1lQh8GIatMGi+01NwBcEmhxBqK4nAPZJ78K0KKFAJmR3oPp8+Iwgob0Oa6+TLoeCvRx+mTUYf/FVBGTPRwDkfLxnaSrRwcH0FWhNOmrkWYbE2XEicqgSa1J0LQ+aPCuQgZiLnwewbGuz5MGoAhcIkCQcjaTBjMgtXGURMVHC1wcQEy0J+Zlj8bKAnY1/UzDe2dbAVqfXn6wAAAABJRU5ErkJggg==');
  background-size: 0.7rem;
  background-repeat: no-repeat;
  background-position: right 0.7rem center;

  &::-ms-expand {
    @apply .opacity-0;
  }
}

.form-error {
  @apply .text-red-500 .mt-2 .text-sm;
}

.form-input.error,
.form-textarea.error,
.form-select.error {
  @apply .border-red-300;

  &:focus {
    box-shadow: 0 0 0 1px config('theme.colors.red-500');
  }
}

/* Styles for hiding the native radio button */
input[type='radio'].radio-custom {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Styles for the basic appearance of the custom radio button */
input[type='radio'].radio-custom ~ .radio-toggle {
  width: 1rem;
  height: 1rem;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #969696;
  border-radius: 50%;
  cursor: pointer;
}

/* Styles for the hover state appearance of the custom radio button */
input[type='radio'].radio-custom:hover ~ .radio-toggle {
  border: 2px solid #4a4a4a;
}

/* Styles for the focus state appearance of the custom radio button */
input[type='radio'].radio-custom:focus ~ .radio-toggle {
  border-color: #b0d5ff;
  box-shadow: 0 0 0 2px rgba(23, 133, 255, 0.25);
}

/* Styles for the checked state appearance of the custom radio button */
input[type='radio'].radio-custom:checked ~ .radio-toggle {
  border: 2px solid #1785ff;
}

/* Styles for the checked state appearance of the custom radio button */
input[type='radio'].radio-custom:checked ~ .radio-toggle::after {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 40%;
  height: 40%;
  margin: auto;
  position: absolute;
  border-radius: 30%;
  background: #1785ff;
}

.vdp-datepicker input {
  width: 100%;
}

.vdp-datepicker:focus-within {
  @apply border border-blue-500;
}

.datepicker-top .vdp-datepicker__calendar {
  top: -200px;
}

.ql-container.ql-bubble .ql-editor hr {
  @apply .mb-4 .leading-none;
}
/* purgecss end ignore */
